langchain
groq
streamlit
python-dotenv
streamlit_chat
langchain_huggingface
langchain-community
faiss-cpu
langchain-community
pymupdf
huggingface_hub
transformers
groq
langchain-groq
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai